.luchtvochtigheid-led-9 {
  background: #d53F27;
}

.luchtvochtigheid-led-8 {
  background: #d15419;
}

.luchtvochtigheid-led-7 {
  background: #e37c2e;
}

.luchtvochtigheid-led-6 {
  background: #efc22f;
}

.luchtvochtigheid-led-5 {
  background: #baca42;
}

.luchtvochtigheid-led-4 {
  background: #7fc93e;
}

.luchtvochtigheid-led-3 {
  background: #38b5a2;
}

.luchtvochtigheid-led-2 {
  background: #3aa3c0;
}

.luchtvochtigheid-led-1 {
  background: #3d91de;
}

.luchtvochtigheid-led-0 {
  background: #3c83de;
}
