<div class="card">
  <div class="card-header h3 clickable" (click)="navigateToKlimaatHistory()">
    <i class="fas fa-tint"></i> Luchtvochtigheid
  </div>
  <div class="card-body">
    <div class="ledbar float-left">
      <div *ngFor="let i of [9,8,7,6,5,4,3,2,1,0]" class="led" [ngClass]="leds[i]?.state == LedState.ON ? 'luchtvochtigheid-led-' + i : 'led-off'"></div>
    </div>

    <p class="h3">{{ sensorCode.charAt(0).toUpperCase() + sensorCode.slice(1).toLowerCase() }}</p>
    <div class="h3">
      <span *ngIf="klimaat">{{ klimaat.luchtvochtigheid | number: '1.2-2' }}%</span>
      <span *ngIf="!klimaat">-%</span>
      <span *ngIf="klimaat?.luchtvochtigheidTrend === Trend.UP">
        <i data-fa-transform="rotate-45" class="fas fa-arrow-up text-danger ml-1"></i>
      </span>
      <span *ngIf="klimaat?.luchtvochtigheidTrend === Trend.DOWN">
        <i data-fa-transform="rotate--45" class="fas fa-arrow-down text-primary ml-1"></i>
      </span>
      <span *ngIf="klimaat?.luchtvochtigheidTrend === Trend.STABLE" class="text-success ml-1">
        <strong>&asymp;</strong>
      </span>
    </div>
  </div>
</div>
