<div class="row">
  <div class="col-sm-0 col-md-0 col-lg-1 col-xl-2"></div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4 mb-2">
    <stroom-verbruik></stroom-verbruik>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4 mb-2">
    <gas-verbruik></gas-verbruik>
  </div>
</div>

<div class="row">
  <div class="col-sm-0 col-md-0 col-lg-1 col-xl-2"></div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4 mb-2">
    <klimaat-temperatuur sensorCode="WOONKAMER"></klimaat-temperatuur>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4 mb-2">
    <klimaat-luchtvochtigheid sensorCode="WOONKAMER"></klimaat-luchtvochtigheid>
  </div>
</div>


