<div class="row">
  <div class="col-sm-0 col-md-0 col-lg-1 col-xl-2"></div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4 mb-3">
    <home-stroom-verbruik></home-stroom-verbruik>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4 mb-3">
    <home-gas-verbruik></home-gas-verbruik>
  </div>
</div>

<div class="row">
  <div class="col-sm-0 col-md-0 col-lg-1 col-xl-2"></div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4 mb-3">
    <home-klimaat-temperatuur sensorCode="WOONKAMER"></home-klimaat-temperatuur>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4 mb-3">
    <home-klimaat-luchtvochtigheid sensorCode="WOONKAMER"></home-klimaat-luchtvochtigheid>
  </div>
</div>


