// make sure to import the least possible to reduce main.js bundle size
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.ledbar {
  overflow: auto;
  margin-right: 15px;
}

.led {
  border-radius: 1px;
  margin: 1px;
  width: 30px;
  height: 5px;
  overflow: auto;
}

@include media-breakpoint-up(sm) {
  .led {
    width: 35px;
    height: 5.5px;
  }
}

@include media-breakpoint-up(md) {
  .led {
    width: 35px;
    height: 6px;
  }
}

@include media-breakpoint-up(lg) {
  .led {
    width: 35px;
    height: 6px;
  }
}

.led-off {
  background: #ebebeb;
}
