<div class="row">
  <div class="col-12 pl-0 pr-0">
    <ul class="nav nav-tabs">
      <li class="nav-item mr-auto mr-0">
        <a class="nav-link active">Opgenomen vermogen</a>
      </li>
      <li class="nav-item">
        <date-navigator mode="day" [selectedDate]="selectedDate" (onNavigate)="onDateNavigate($event)" class="input-group"></date-navigator>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12 pl-0 pr-0">
    <div id="chart" class="c3 chart"></div>
  </div>
</div>

