<div class="row">

  <!-- Up to (but excluding) small -->
  <div class="col-12 pl-2 pr-2 d-xs-block d-sm-none">
    <h4>Opgenomen vermogen (Watt)</h4>
    <date-navigator mode="day" [selectedDate]="selectedDate" (onNavigate)="onDateNavigate($event)" class="input-group input-group-sm mb-2"></date-navigator>
  </div>

  <!-- Small and above -->
  <div class="col-12 pl-0 pr-0 d-none d-sm-block">
    <ul class="nav nav-tabs">
      <li class="nav-item mr-auto">
        <a class="nav-link active">Opgenomen vermogen (Watt)</a>
      </li>
      <li class="nav-item">
        <date-navigator mode="day" [selectedDate]="selectedDate" (onNavigate)="onDateNavigate($event)" class="input-group"></date-navigator>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12 pl-2 pr-2 pl-sm-0 pr-sm-0">
    <div id="chart" class="c3 chart"></div>
    <div class="activated">
      <statistics [statistics]="statistics" decimalFormat="0.0-0"></statistics>
    </div>
  </div>
</div>

