<div ng-include="'top-menu.html'"></div>

<div class="row">
    <div class="col-md-2"></div>

    <!-- stroom -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="fa fa-bolt"></i> Stroom</h1>
            </div>
            <div class="panel-body" ng-cloak>

                <div>
                    <div id="ledbar-stroom" class="ledbar pull-left">
                        <div ng-repeat="n in [9,8,7,6,5,4,3,2,1,0]" ng-class="opgenomenVermogenLed{{n}} ? 'opgenomen-vermogen-led-{{n}}' : 'led-uit'"></div>
                    </div>

                    <p>Op dit moment</p>
                    <div class="p-div">
                        <span odometer="huidigeMeterstanden.stroomOpgenomenVermogenInWatt"></span><span> Watt</span>
                    </div>
                </div>

                <hr/>

                <div class="p-div-small">
                    Meterstand = <span odometer="huidigeMeterstanden.stroomTarief1" nrofdecimals="3"></span>
                </div>
            </div>
        </div>
    </div><!-- End stroom -->

    <!-- gas -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="fa fa-fire"></i> Gas</h1>
            </div>
            <div class="panel-body">

                <div class="ledbar pull-left">
                    <div ng-repeat="n in [9,8,7,6,5,4,3,2,1,0]" ng-class="'led-uit'"></div>
                </div>

                <p>Vandaag</p>
                <div class="p-div">
                    <span odometer="gasVerbruikVandaag" nrofdecimals="3"></span><span>M&#179;</span>
                </div>

                <hr/>

                <div class="p-div-small">
                    Meterstand = <span odometer="huidigeMeterstanden.gas" nrofdecimals="3"></span>
                </div>
            </div>

        </div>
    </div><!-- End gas -->
</div>

<div class="row">
    <div class="col-md-2"></div>

    <!-- temperatuur -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="wi wi-thermometer"></i> Temperatuur</h1>
            </div>
            <div class="panel-body" ng-cloak>

                <div class="ledbar pull-left">
                    <div ng-repeat="n in [9,8,7,6,5,4,3,2,1,0]" ng-class="temperatuurLed{{n}} ? 'temperatuur-led-{{n}}' : 'led-uit'"></div>
                </div>

                <p>Op dit moment</p>
                <div class="p-div">
                    {{huidigKlimaat.temperatuur | number:2}}&#8451;
                </div>
            </div>
        </div>
    </div><!-- End temperatuur -->

    <!-- luchtvochtigheid -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="wi wi-humidity"></i> Luchtvochtigheid</h1>
            </div>
            <div class="panel-body" ng-cloak>

                <div class="ledbar pull-left">
                    <div ng-repeat="n in [9,8,7,6,5,4,3,2,1,0]" ng-class="luchtvochtigheidLed{{n}} ? 'luchtvochtigheid-led-{{n}}' : 'led-uit'"></div>
                </div>

                <p>Op dit moment</p>
                <div class="p-div">
                    {{huidigKlimaat.luchtvochtigheid | number:1}}%
                </div>
            </div>
        </div>
    </div><!-- End luchtvochtigheid -->

</div>