<div ng-include="'top-menu.html'"></div>

<div class="row">
    <div class="hidden-sm col-md-1 col-lg-2"></div>
    <div class="col-xs-1 visible-xs"></div>

    <!-- stroom -->
    <div class="col-xs-10 col-sm-6 col-md-5 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="fa fa-bolt"></i> Stroom</h1>
            </div>
            <div class="panel-body" ng-cloak>

                <div>
                    <div id="ledbar-stroom" class="ledbar pull-left">
                        <div ng-repeat="n in [9,8,7,6,5,4,3,2,1,0]" ng-class="vm.opgenomenVermogenLed{{n}} ? 'opgenomen-vermogen-led-{{n}}' : 'led-uit'"></div>
                    </div>

                    <p>Op dit moment</p>
                    <div class="p-div">
                        <span odometer="vm.huidigeMeterstanden.stroomOpgenomenVermogenInWatt"></span><span> Watt</span>
                    </div>
                </div>

                <hr class="hidden-xs"/>

                <div class="p-div-small hidden-xs">
                    Meterstand 1: <span odometer="vm.huidigeMeterstanden.stroomTarief1" nrofdecimals="3"></span>
                    <br/>
                    Meterstand 2: <span odometer="vm.huidigeMeterstanden.stroomTarief2" nrofdecimals="3"></span>
                </div>
            </div>
        </div>
    </div><!-- End stroom -->

    <!-- gas -->
    <div class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-6 col-md-5 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="fa fa-fire"></i> Gas</h1>
            </div>
            <div class="panel-body">

                <div class="ledbar pull-left">
                    <div ng-if="!vm.gasVandaagMood" ng-repeat="n in [9,8,7,6,5,4,3,2,1,0]" class="led-uit"></div>
                    <div ng-if="vm.gasVandaagMood == 'positive'" ng-repeat="n in [9,8,7,6,5,4,3,2,1,0]" ng-class="vm.gasVandaagLed{{n}} ? 'gas-vandaag-positive-led-{{n}}' : 'led-uit'"></div>
                    <div ng-if="vm.gasVandaagMood == 'negative'" ng-repeat="n in [9,8,7,6,5,4,3,2,1,0]" ng-class="vm.gasVandaagLed{{n}} ? 'gas-vandaag-negative-led-{{n}}' : 'led-uit'"></div>
                </div>

                <p>Vandaag</p>
                <div class="p-div">
                    <span odometer="vm.gasVerbruikVandaag" nrofdecimals="3"></span><span> m&#179;</span>
                </div>

                <hr class="hidden-xs"/>

                <div class="p-div-small hidden-xs">
                    Meterstand: <span odometer="vm.huidigeMeterstanden.gas" nrofdecimals="3"></span>
                    <br/>
                    &nbsp;
                </div>
            </div>

        </div>
    </div><!-- End gas -->
</div>

<div class="row">
    <div class="hidden-sm col-md-1 col-lg-2"></div>
    <div class="col-xs-1 visible-xs"></div>

    <!-- temperatuur -->
    <div class="col-xs-10 col-sm-6 col-md-5 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="fa fa-thermometer-three-quarters"></i> Temperatuur</h1>
            </div>
            <div class="panel-body" ng-cloak>

                <div class="ledbar pull-left">
                    <div ng-repeat="n in [9,8,7,6,5,4,3,2,1,0]" ng-class="vm.temperatuurLed{{n}} ? 'temperatuur-led-{{n}}' : 'led-uit'"></div>
                </div>

                <p>Op dit moment</p>
                <div class="p-div">
                    {{vm.huidigKlimaat.temperatuur | number:2}}&#8451;
                </div>
            </div>
        </div>
    </div><!-- End temperatuur -->

    <!-- luchtvochtigheid -->
    <div class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-6 col-md-5 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="fa fa-tint"></i> Luchtvochtigheid</h1>
            </div>
            <div class="panel-body" ng-cloak>

                <div class="ledbar pull-left">
                    <div ng-repeat="n in [9,8,7,6,5,4,3,2,1,0]" ng-class="vm.luchtvochtigheidLed{{n}} ? 'luchtvochtigheid-led-{{n}}' : 'led-uit'"></div>
                </div>

                <p>Op dit moment</p>
                <div class="p-div">
                    {{vm.huidigKlimaat.luchtvochtigheid | number:1}}%
                </div>
            </div>
        </div>
    </div><!-- End luchtvochtigheid -->

</div>