<div ng-include="'top-menu.html'"></div>

<div>
    <h1>
        <span>Weergave opties</span>
    </h1>

    <hr/>

    <h3>Historische data</h3>
    <div class="form-group">
        <div class="radio">
            <label><input type="radio" value="auto" ng-model="vm.applicationsettings.displayChartOrTable"/>Automatisch, gebaseerd op beschikbare ruimte</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="chart" ng-model="vm.applicationsettings.displayChartOrTable"/>Grafiek</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="table" ng-model="vm.applicationsettings.displayChartOrTable"/>Tabel</label>
        </div>
    </div>

    <hr/>

    <h3>Stroom daltarief/normaaltarief</h3>
    <div class="form-group">
        <div class="radio">
            <label><input type="radio" value="apart" ng-model="vm.applicationsettings.displayStroomDalNormaal"/>Toon beide</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="total" ng-model="vm.applicationsettings.displayStroomDalNormaal"/>Toon getotaliseerd</label>
        </div>
    </div>

</div>
