<div class="card">
  <div class="card-header h3 clickable" (click)="navigateToVerbruikDetails()">
    <i class="fas fa-fire"></i> Gas
  </div>
  <div class="card-body">
    <div class="ledbar float-left">
      <div *ngFor="let i of [9,8,7,6,5,4,3,2,1,0]" class="led" [ngClass]="gasLeds[i]?.state == LedState.ON ? 'gas-led-' + i : 'led-off'"></div>
    </div>

    <p class="h3">Vandaag</p>
    <div class="h3" *ngIf="verbruikVandaag">{{verbruikVandaag.gasVerbruik | number: '1.3-3'}} m&#179;</div>
    <div class="h3" *ngIf="!verbruikVandaag">- m&#179;</div>

    <hr />

    <p class="h3">Meterstand</p>

    <p class="h6" *ngIf="meterstand">
      <span ngbTooltip="Normaaltarief"><i class="fas fa-moon" ngbTooltip="Dal- en normaaltarief"></i> <i class="fas fa-sun"></i> {{meterstand.gas | number: '1.3-3'}}</span>
    </p>
    <p class="h6" *ngIf="!meterstand">
      -
    </p>
  </div>
</div>
