.gas-led-9 {
  background: #d53F27;
}

.gas-led-8 {
  background: #d15419;
}

.gas-led-7 {
  background: #e37c2e;
}

.gas-led-6 {
  background: #f19b2c;
}

.gas-led-5 {
  background: #efc22f;
}

.gas-led-4 {
  background: #EFDC1A;
}

.gas-led-3 {
  background: #baca42;
}

.gas-led-2 {
  background: #7fc93e;
}

.gas-led-1 {
  background: #75b437;
}

.gas-led-0 {
  background: #2b9234;
}
