<div ng-include="'top-menu.html'"></div>

<div class="row">
    <div class="col-sm-6">
        <p class="h1">Meterstanden</p>
    </div>
    <div class="col-sm-6 text-right right-to-h1">
        <form class="form-inline">
            <div class="input-group date-selector">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="navigate(-1)">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                </span>
                <input class="form-control text-center text-capitalize" ng-readonly="true" ng-click="toggleDatepickerPopup()" uib-datepicker-popup="{{dateformat}}" ng-model="selection" datepicker-popup-template-url="/app/uib-datepicker-popup-without-clear-button.html" is-open="datepickerPopup.opened" datepicker-options="datepickerPopupOptions" ng-change="selectionChange()" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-disabled="isMaxSelected()" ng-class="{'disabled': isMaxSelected()}" ng-click="navigate(+1)">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th colspan="2">Datum</th>
                <th>Stroom T1</th>
                <th>Stroom T2</th>
                <th>Gas</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="meterstandOpDag in meterstandenPerDag | orderBy:'datumtijd'">
                <td style="width: 50px;">{{meterstandOpDag.datumtijd | date : 'EEE.'}}</td>
                <td style="width: 25%">{{meterstandOpDag.datumtijd | date : 'dd-MM-yyyy'}}</td>
                <td style="width: 25%">{{meterstandOpDag.meterstand.stroomTarief1 | meterstand}}</td>
                <td style="width: 25%">{{meterstandOpDag.meterstand.stroomTarief2 | meterstand}}</td>
                <td style="width: 25%">{{meterstandOpDag.meterstand.gas | meterstand}}</td>
            </tr>
        </tbody>
    </table>
</div>
