<div ng-include="'top-menu.html'"></div>

<div class="row">
    <div class="col-sm-6">
        <p class="h1">Meterstanden</p>
    </div>
    <div class="col-sm-6 text-right right-to-h1">
        <form class="form-inline">
            <div class="input-group date-selector">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="vm.navigate(-1)">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                </span>
                <input class="form-control text-center text-capitalize"
                       ng-model="vm.selection" ng-readonly="true" ng-click="vm.toggleDatepickerPopup()" ng-change="vm.getDataFromServer()"
                       uib-datepicker-popup="{{vm.dateformat}}" is-open="vm.datepickerPopup.opened"
                       datepicker-popup-template-url="app/uib-datepicker-popup-without-clear-button.html" datepicker-options="vm.datepickerPopupOptions" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-disabled="vm.isMaxSelected()" ng-class="{'disabled': vm.isMaxSelected()}" ng-click="vm.navigate(+1)">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th colspan="2" width="25%">Datum</th>
            <th class="text-right" width="25%">Stroom T1</th>
            <th class="text-right" width="25%">Stroom T2</th>
            <th class="text-right" width="25%">Gas</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="meterstandOpDag in vm.meterstandenPerDag | orderBy:'dag'">
            <td class="text-right">{{meterstandOpDag.dag | date : 'EEE.'}}</td>
            <td>{{meterstandOpDag.dag | date : 'dd-MM-yyyy'}}</td>
            <td class="text-right">{{meterstandOpDag.meterstand.stroomTarief1 | meterstand}}</td>
            <td class="text-right">{{meterstandOpDag.meterstand.stroomTarief2 | meterstand}}</td>
            <td class="text-right">{{meterstandOpDag.meterstand.gas | meterstand}}</td>
        </tr>
        </tbody>
    </table>
</div>
