<div ng-include="'top-menu.html'"></div>

<div class="row">
    <div class="col-md-1 without-lr-padding">
        &nbsp;
    </div>
    <div class="col-md-11 without-lr-padding">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': period=='uur'}"><a ng-href="/homecontrol/#/grafiek/{{energiesoort}}/uur">Uur</a></li>
            <li ng-class="{'active': period=='dag'}"><a ng-href="/homecontrol/#/grafiek/{{energiesoort}}/dag">Dag</a></li>
            <li ng-class="{'active': period=='maand'}"><a ng-href="/homecontrol/#/grafiek/{{energiesoort}}/maand">Maand</a></li>
            <li class="pull-right">
                <form class="navbar-form navbar-tabs navbar-right">
                    <div class="form-group" ng-show="showNumberOfPeriodsSelector()">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="setNumberOfPeriods(-7)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </span>
                        <input class="form-control numberOfPeriods" ng-model="numberOfPeriods" ng-readonly="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="setNumberOfPeriods(+7)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group date-selector">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="navigate(-1)">
                                <i class="fa fa-chevron-left"></i>
                            </button>
                        </span>
                        <input class="form-control datepicker datepicker-selected-value text-center" formatteddate ng-model="selection" ng-readonly="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-disabled="isMaxSelected()" ng-class="{'disabled': isMaxSelected()}" ng-click="navigate(+1)">
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-1 without-lr-padding">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="supportedsoort in supportedsoorten" ng-class="{'active': soort == supportedsoort.code}">
                <a class="left-pill" ng-click="switchSoort(supportedsoort.code)">{{supportedsoort.omschrijving}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-11 without-lr-padding">
        <div id="chart" class="c3 chart"></div>
    </div>
</div>