<div ng-controller="GrafiekController" ng-init="showGraph()" ng-cloak>
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group date-selector">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="previousDay()"><i class="fa fa-angle-left"></i></button>
                </span>

                <input class="form-control datepicker" style="text-align: center;" formatteddate ng-model="from" ng-readonly="true" data-provide="datepicker" data-date-language="nl" data-date-format="dd-mm-yyyy" />

                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="nextDay()"><i class="fa fa-angle-right"></i></button>
                </span>
            </div>
        </div>
    </form>

    <div id="chart"></div>
</div>

