<nav class="navbar navbar-default navbar-fixed-top" ng-controller="UurGrafiekController" ng-init="showGraph()" ng-cloak>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">M.C. Escherweg 71</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/homecontrol/#/grafiek/stroom/uur">Uur</a></li>
                <li><a href="/homecontrol/#/grafiek/stroom/dag">Dag</a></li>
                <!--<li><a href="/homecontrol/#/grafiek/stroom/week">Week</a></li>-->
                <li><a href="/homecontrol/#/grafiek/stroom/maand">Maand</a></li>
                <!--<li><a href="/homecontrol/#/grafiek/stroom/jaar">Jaar</a></li>-->
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <div class="input-group date-selector">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="navigateDay(-1)"><i class="fa fa-angle-left"></i></button>
                        </span>
                        <input class="form-control datepicker" style="text-align: center;" formatteddate ng-model="from" ng-readonly="true" data-provide="datepicker" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-disabled="isTodaySelected()" ng-class="{'disabled': isTodaySelected()}" ng-click="navigateDay(1)"><i class="fa fa-angle-right"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<div id="chart" class="c3"></div>
