<div class="form-row mb-3">
  <div class="offset-lg-2 col-md-4 col-lg-2 mb-2">
    <div class="btn-group btn-group-toggle d-flex">
      <label class="btn btn-outline-secondary w-100" [ngClass]="{'active': sensorType === 'temperatuur'}">
        <input type="checkbox" [checked]="sensorType === 'temperatuur'" (click)="setSensorType('temperatuur')"><i class="fas fa-thermometer-half"></i> &#8451;
      </label>
      <label class="btn btn-outline-secondary w-100" [ngClass]="{'active': sensorType === 'luchtvochtigheid'}">
        <input type="checkbox" [checked]="sensorType === 'luchtvochtigheid'" (change)="setSensorType('luchtvochtigheid')"><i class="fas fa-tint"></i> %
      </label>
    </div>
  </div>
  <div class="col-md-4 col-lg-3 mb-2">
    <select class="form-control" name="sensor" (change)="sensorChanged()" [(ngModel)]="sensorCode">
      <option *ngFor="let _sensor of sensors" [value]="_sensor.code">{{_sensor.omschrijving}}</option>
    </select>
  </div>
  <div class="col-md-4 col-lg-3 mb-2">
    <home-date-navigator mode="year" [selectedDate]="year" (navigation)="yearPickerChanged($event)" class="input-group"></home-date-navigator>
  </div>
</div>

<div class="row">
  <div class="offset-lg-2 col-md-12 col-lg-8">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr>
          <th class="text-right">Maand</th>
          <th class="text-right text-capitalize">{{sensorType}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let gemiddeldeKlimaatInMaand of gemiddeldeKlimaatPerMaand">
          <td class="text-right text-capitalize">{{ gemiddeldeKlimaatInMaand.maand.toDate() | date: 'MMMM'}}</td>
          <td class="text-right">{{ gemiddeldeKlimaatInMaand.gemiddelde | number: getDecimalFormat(sensorType) }}{{ (gemiddeldeKlimaatInMaand.gemiddelde !== null && gemiddeldeKlimaatInMaand.gemiddelde !== undefined) ? getValuePostFix(sensorType) : '' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
