@import "../ledbar";

.opgenomen-vermogen-led-9 {
  @extend .led;
  background: #d92935;
}

.opgenomen-vermogen-led-8 {
  @extend .led;
  background: #d53F27;
}

.opgenomen-vermogen-led-7 {
  @extend .led;
  background: #d15419;
}

.opgenomen-vermogen-led-6 {
  @extend .led;
  background: #e37c2e;
}

.opgenomen-vermogen-led-5 {
  @extend .led;
  background: #f19b2c;
}

.opgenomen-vermogen-led-4 {
  @extend .led;
  background: #efc22f;
}

.opgenomen-vermogen-led-3 {
  @extend .led;
  background: #baca42;
}

.opgenomen-vermogen-led-2 {
  @extend .led;
  background: #7fc93e;
}

.opgenomen-vermogen-led-1 {
  @extend .led;
  background: #75b437;
}

.opgenomen-vermogen-led-0 {
  @extend .led;
  background: #2b9234;
}
