<div class="card">
  <div class="card-header h3 clickable" (click)="navigateToVerbruikDetails()">
    <i class="fas fa-bolt"></i> Stroom
  </div>
  <div class="card-body">
    <div class="ledbar float-left">
      <div *ngFor="let i of [9,8,7,6,5,4,3,2,1,0]" class="led" [ngClass]="opgenomenVermogenLeds[i]?.state == LedState.ON ? 'opgenomen-vermogen-led-' + i : 'led-off'"></div>
    </div>

    <p class="h3">Op dit moment</p>
    <div class="h3">
      {{opgenomenVermogen ? opgenomenVermogen.watt : '-'}} Watt
      <span ngbTooltip="Daltarief">
        <i *ngIf="opgenomenVermogen?.tariefIndicator == 'DAL'" class="fas fa-moon"></i>
      </span>
      <span ngbTooltip="Normaaltarief">
        <i *ngIf="opgenomenVermogen?.tariefIndicator == 'NORMAAL'" class="fas fa-sun"></i>
      </span>
    </div>

    <hr />

    <p class="h3">Meterstand</p>

    <p class="h6" *ngIf="meterstand">
      <span ngbTooltip="Daltarief">
        <i class="fas fa-moon"></i> {{meterstand.stroomTarief1 | number: '1.3-3'}}
      </span>
      |
      <span ngbTooltip="Normaaltarief">
        <i class="fas fa-sun"></i> {{meterstand.stroomTarief2 | number: '1.3-3'}}
      </span>
    </p>
    <p class="h6" *ngIf="!meterstand">
      -
    </p>
  </div>
</div>
