<form class="date-navigator-form" [formGroup]="form" autocomplete="off" novalidate>

  <div class="input-group">

    <span class="input-group-prepend">
      <button (click)="navigate(-1)"
              class="btn btn-outline-secondary"
              [ngClass]="{'responsive-size': responsiveSize}"
              type="button"><i class="fas fa-chevron-left"></i></button>
    </span>

    <!--suppress HtmlFormInputWithoutLabel -->
    <input #picker="dpDayPicker" type="text" *ngIf="mode == 'day'" class="form-control text-center text-capitalize" name="dayPicker"
           [formControl]="selectedDay"
           [dpDayPicker]="dayPickerConfiguration"
           (onChange)="datePickerChanged($event)"
           [ngClass]="{
                  'is-invalid': selectedDay.invalid,
                  'responsive-size': responsiveSize
           }"
           theme="dp-material"
           mode="day" />

    <!--suppress HtmlFormInputWithoutLabel -->
    <input #picker="dpDayPicker" type="text" *ngIf="mode == 'month'" class="form-control text-center text-capitalize" name="monthPicker"
           [formControl]="selectedMonth"
           [dpDayPicker]="monthPickerConfiguration"
           (onChange)="datePickerChanged($event)"
           [ngClass]="{
                  'is-invalid': selectedMonth.invalid,
                  'responsive-size': responsiveSize
           }"
           theme="dp-material"
           mode="month" />

    <!--suppress HtmlFormInputWithoutLabel -->
    <input #yearPicker type="text" *ngIf="mode == 'year'" class="form-control text-center responsive-size" name="yearPicker"
           [formControl]="selectedYear"
           [ngClass]="{
                  'is-invalid': selectedYear.invalid,
                  'responsive-size': responsiveSize
           }"
           readonly="readonly" />

    <span class="input-group-append">
      <button type="button"
              class="btn btn-outline-secondary responsive-size"
              [ngClass]="{'responsive-size': responsiveSize}"
              (click)="navigate(+1)" [disabled]="isUpNavigationDisabled()"><i class="fas fa-chevron-right"></i></button>
    </span>

  </div>
</form>
