@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/breakpoints.scss";

.date-navigator-form {
  width: inherit;
}

.responsive-size {
  @include media-breakpoint-down(md) {
    height: $input-height-sm;
    font-size: $font-size-sm;
  }
  @include media-breakpoint-down(xl) {
    height: $input-height;
    font-size: $font-size-base;
  }
}
