<div class="row">
  <div class="col-5">
    <p class="h1">Energiecontracten</p>
  </div>

  <div class="col-7 text-right right-to-h1">
    <button class='btn btn-primary' (click)="startAdd()">
      <span class="d-none d-sm-block"><i class="fas fa-plus-circle"></i> Toevoegen</span>
      <span class="d-block d-sm-none"><i class="fas fa-plus-circle"></i></span>
    </button>
  </div>
</div>

<div *ngIf="energiecontracten && energiecontracten.length === 0" class="table-responsive">
  <div class="alert alert-info">
    <i class="fas fa-info-circle"></i> Er zijn nog geen energiecontracten. <strong>Tip</strong>: Je kunt er één toevoegen door rechtsboven op de knop "Toevoegen" te klikken.
  </div>
</div>

<div *ngIf="energiecontracten && energiecontracten.length > 0" class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>Vanaf</th>
        <th>Leverancier</th>
        <th class="text-right">Gas per m<sup>3</sup></th>
        <th class="text-right">Stroom normaaltarief (kWh)</th>
        <th class="text-right">Stroom daltarief (kWh)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let energiecontract of energiecontracten" (click)="startEdit(energiecontract)" class="clickable" [ngClass]="{'table-primary': energiecontract.id === selectedEnergiecontract?.id}">
        <td class="text-nowrap">{{ energiecontract.validFrom | date : 'dd-MM-yyyy' }}</td>
        <td>{{ energiecontract.leverancier }}</td>
        <td class="text-right">{{ energiecontract.gasPerKuub | currency:'EUR':'symbol':'1.6-6' }}</td>
        <td class="text-right">{{ energiecontract.stroomPerKwhNormaalTarief | currency:'EUR':'symbol':'1.6-6' }}</td>
        <td class="text-right">{{ energiecontract.stroomPerKwhDalTarief | currency:'EUR':'symbol':'1.6-6' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<form [formGroup]="form" [hidden]="!editMode" class="form-horizontal" autocomplete="off" novalidate (submit)="save()">
  <hr/>

  <div class="form-group row">
    <label for="fromDate" class="col-md-4 col-lg-3 control-label">Vanaf *</label>
    <div class="col-sm-9 col-md-7 col-lg-5">
      <div class="input-group">
        <input #datePicker="dpDayPicker" type="text" class="form-control" id="fromDate" name="fromDate"
               [dpDayPicker]="datePickerConfiguration"
               [formControl]="selectedDate"
               [ngClass]="{'is-invalid': selectedDate.invalid}"
               theme="dp-material"
               mode="day" />
        <span class="input-group-append">
          <button type="button" class="btn btn-outline-secondary" (click)="openDatePicker()"><i class="fas fa-calendar"></i></button>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="leverancier" class="col-md-4 col-lg-3 control-label">Leverancier *</label>
    <div class="col-sm-9 col-md-7 col-lg-5">
      <input id="leverancier" name="leverancier" type="text" class="form-control" [ngClass]="{'is-invalid': leverancier.invalid}" formControlName="leverancier" />
    </div>
  </div>

  <div class="form-group row">
    <label for="gas" class="col-md-4 col-lg-3 control-label">Gas (m<sup>3</sup>) *</label>
    <div class="col-sm-9 col-md-7 col-lg-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">&euro;</span>
        </div>
        <input id="gas" name="gas" type="text" class="form-control" [ngClass]="{'is-invalid': gas.invalid}" formControlName="gas" />
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="stroomNormaaltarief" class="col-md-4 col-lg-3 control-label">Stroom normaaltarief (kWh) *</label>
    <div class="col-sm-9 col-md-7 col-lg-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">&euro;</span>
        </div>
        <input id="stroomNormaaltarief" name="stroomNormaaltarief" type="text" class="form-control" [ngClass]="{'is-invalid': stroomNormaalTarief.invalid}" formControlName="stroomNormaalTarief" />
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="stroomDaltarief" class="col-md-4 col-lg-3 control-label">Stroom daltarief (kWh)</label>
    <div class="col-sm-9 col-md-7 col-lg-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">&euro;</span>
        </div>
        <input id="stroomDaltarief" name="stroomDaltarief" type="text" class="form-control" [ngClass]="{'is-invalid': stroomDalTarief.invalid}" formControlName="stroomDalTarief" />
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="remark" class="col-md-4 col-lg-3 control-label">Notitie</label>
    <div class="col-sm-9 col-md-7 col-lg-5">
      <textarea id="remark" name="remark" class="form-control" rows="3" [ngClass]="{'is-invalid': remark.invalid}" formControlName="remark"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4 col-lg-3">&nbsp;</div>
    <div class="col-sm-9 col-md-7 col-lg-5">
      <button type="button" class="btn btn-primary float-left" [hidden]="!selectedEnergiecontract" (click)="openDeletionConformationDialog(deletionConformationDialog)"><i class="fa fa-trash"></i> Verwijderen</button>
      <div class="float-right">
        <button type="button" class="btn btn-primary" (click)="cancelEdit()"><i class="fa fa-ban"></i> Annuleren</button>
        <button type="submit" class="btn btn-primary ml-1" [disabled]="form.invalid"><i class="fa fa-check"></i> Opslaan</button>
      </div>
    </div>
  </div>

</form>

<ng-template #deletionConformationDialog let-close="close" let-dismiss="dismiss">
  <div class="modal-header bg-warning text-light">
    <h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Bevestig</h4>
  </div>
  <div class="modal-body">
    <p>Weet je zeker dat je energiecontract met <strong>{{selectedEnergiecontract.leverancier}}</strong> (vanaf {{selectedEnergiecontract.validFrom | date:'dd-MM-yyyy'}}) wilt verwijderen?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="dismiss('CANCEL')">Nee, niet verwijderen</button>
    <button type="button" class="btn btn-primary ml-1" (click)="close('CONFIRM')">Ja, wel verwijderen</button>
  </div>
</ng-template>
