<div ng-include="'top-menu.html'"></div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-sm-6">
        <p class="h1">Laagste / hoogste {{soort}}</p>
    </div>
    <!--<div class="col-sm-6 text-right right-to-h1">-->
        <!--<form class="form-inline">-->
            <!--<div class="input-group date-selector">-->
                <!--<span class="input-group-btn">-->
                    <!--<button class="btn btn-default" type="button" ng-click="navigate(-1)">-->
                        <!--<i class="fa fa-chevron-left"></i>-->
                    <!--</button>-->
                <!--</span>-->
                <!--<input class="form-control datepicker text-center" formatteddate ng-model="selection" ng-readonly="true"/>-->
                <!--<span class="input-group-btn">-->
                    <!--<button type="button" class="btn btn-default" ng-disabled="isMaxSelected()" ng-class="{'disabled': isMaxSelected()}" ng-click="navigate(+1)">-->
                        <!--<i class="fa fa-chevron-right"></i>-->
                    <!--</button>-->
                <!--</span>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
</div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title h1"><i style="color:blue" class="wi wi-thermometer"></i><sup><i style="color:blue" class="fa fa-arrow-down" aria-hidden="true"></i></sup> Laagst gemeten</p>
            </div>
            <div class="panel-body" ng-cloak>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Datum/tijd</th>
                            <th>Waarde</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="klimaat in laagste">
                            <td>{{klimaat.datumtijd | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                            <td>{{klimaat[soort]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i style="color:red" class="wi wi-thermometer"></i><sup><i style="color:red" class="fa fa-arrow-up" aria-hidden="true"></i></sup> Hoogst gemeten</h1>
            </div>
            <div class="panel-body" ng-cloak>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Datum/tijd</th>
                            <th>Waarde</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="klimaat in hoogste">
                            <td>{{klimaat.datumtijd | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                            <td>{{klimaat[soort]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>