<div>
  <h1>MinderGas.nl <sup><a href="http://mindergas.nl/" target="_blank"><i class="fas fa-external-link-alt fa-xs"></i></a></sup></h1>
</div>

<form [formGroup]="form" class="form-horizontal" autocomplete="off" novalidate (submit)="save()">

  <div class="form-group row">
    <label class="col-sm-4 col-md-3 text-nowrap" for="automatischUploaden">Automatisch uploaden</label>
    <div class="col-sm-6">
      <input type="checkbox" id="automatischUploaden" formControlName="automatischUploaden" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-md-3">Authenticatietoken</label>
    <div class="col-sm-6">
      <input type="text" id="authenticatietoken"
             class="form-control" [ngClass]="{'is-invalid': authenticatietoken.invalid, 'readonly': !editMode}"
             formControlName="authenticatietoken" />
      <div *ngIf="authenticatietoken.invalid && authenticatietoken.errors.required" class="text-danger">
        <small>Voor het automatisch uploaden naar MinderGas.nl is een authenticatietoken noodzakelijk</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4 col-md-3">&nbsp;</div>
    <div class="col-sm-6">
      <div class="float-right">
        <button *ngIf="!editMode" type="button" class='btn btn-primary' (click)="editMode = true"><i class="fas fa-edit"></i> Wijzig</button>
        <button *ngIf="editMode" type="button" class='btn btn-primary' (click)="cancel()"><i class="fas fa-ban"></i> Annuleren</button>
        <button *ngIf="editMode" type="submit" class='btn btn-primary ml-1' [disabled]="form.invalid"><i class="fas fa-check"></i> Opslaan</button>
      </div>
    </div>
  </div>

  <div class="row" [hidden]="!showSavedMessage">
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-6">
      <ngb-alert type="success" [dismissible]='false'>De instellingen zijn succesvol opgeslagen.</ngb-alert>
    </div>
  </div>

</form>
