.temperatuur-led-9 {
  background: #d53F27;
}

.temperatuur-led-8 {
  background: #d15419;
}

.temperatuur-led-7 {
  background: #e37c2e;
}

.temperatuur-led-6 {
  background: #f19b2c;
}

.temperatuur-led-5 {
  background: #efc22f;
}

.temperatuur-led-4 {
  background: #baca42;
}

.temperatuur-led-3 {
  background: #7fc93e;
}

.temperatuur-led-2 {
  background: #38b5a2;
}

.temperatuur-led-1 {
  background: #3aa3c0;
}

.temperatuur-led-0 {
  background: #3d91de;
}
