html {
  height:100%;
}

body {
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  padding-top: 65px;
  height:100%;
}

.panel-body p {
  font-size: 30px;
  margin: 0;
}

.ledbar {
  overflow: auto;
  margin-right: 15px;
}

.led {
  border-radius: 2px;
  margin: 1px;
  width: 20px;
  height: 6px;
  overflow: auto;
}

.leduit:extend(.led) {
  background: #ebebeb;
}

.led9:extend(.led) {
  background: #d92935;
}

.led8:extend(.led) {
  background: #d53F27;
}

.led7:extend(.led) {
  background: #d15419;
}

.led6:extend(.led) {
  background: #e37c2e;
}

.led5:extend(.led) {
  background: #f19b2c;
}

.led4:extend(.led) {
  background: #efc22f;
}

.led3:extend(.led) {
  background: #baca42;
}

.led2:extend(.led) {
  background: #7fc93e;
}

.led1:extend(.led) {
  background: #75b437;
}

.led0:extend(.led) {
  background: #2b9234;
}

.panel-body p {
  font-size: 26px;
}

.modal-header-success {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #5cb85c;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header-warning {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #f0ad4e;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header-danger {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #d9534f;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header-info {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #5bc0de;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header-primary {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #428bca;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chart {
  background-color: whitesmoke;
}

.c3-zoom-rect {
  fill: white;
  opacity: 1 !important;
}

.c3-line-watt {
  stroke-width: 0px;
}

.c3-ygrid-line.avg line {
  stroke: #5bc0de;
  stroke-width: 1.2px;
  stroke-dasharray: 10,0;
}
.c3-ygrid-line.avg text {
  fill: black;
  font-weight: bold;
}


.c3-ygrid-line.min line {
  stroke: #5cb85c;
  stroke-width: 1.2px;
  stroke-dasharray: 10,0;
}
.c3-ygrid-line.min text {
  fill: black;
  font-weight: bold;
}

.c3-ygrid-line.max line {
  stroke: #d9534f;
  stroke-width: 1.2px;
  stroke-dasharray: 10,0;
}
.c3-ygrid-line.max text {
  fill: black;
  font-weight: bold;
}

.c3-area-watt {
  opacity: 1;
}

.datepicker-selected-value {
  text-align: center;
}

.numberOfPeriods {
  text-align: center;
}

@media (min-width: 768px) {
  .datepicker-selected-value {
    max-width: 140px;
  }
}

.without-lr-padding {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .numberOfPeriods {
    max-width: 50px;
  }
}

a.left-pill {
  text-align: center;
  border-radius: initial !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  cursor: pointer;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #555555;
  background-color: whitesmoke;
  cursor: default;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs > li > a {
  border: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: whitesmoke;
}

.without-margin-padding {
  margin: 0 !important;
  padding: 0 !important;
}

@font-face {
  font-family: "D7MR";
  src: url("../fonts/DSEG/v30/DSEG7/Modern/DSEG7Modern-Regular.woff") format('woff');
}

@font-face {
  font-family: "D7CM";
  src: url("../fonts/DSEG/v30/DSEG7/Classic-MINI/DSEG7ClassicMini-Regular.woff") format('woff');
}

.D7MR {
  font-family: "D7MR";
}

.D7MR {
  font-family: "D7CM";
}

.form-group.required .control-label:after {
  content:" *";
}

.table-hover tbody > tr {
  cursor: pointer;
}

.fade {
  transition: 0.2s linear all;
  opacity: 1;
}
.fade.ng-hide {
  opacity: 0;
}