<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fas fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Open/sluit menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/meterstand" routerLinkActive="active">Meterstanden</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuVerbruik" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Energieverbruik <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuVerbruik">
            <a class="dropdown-item" routerLink="/energie/stroom/opgenomen-vermogen" [queryParams]="{ energiesoort: ['stroom'] }"><i class="fas fa-chart-area"></i> Stroom - opgenomen vermogen</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'verbruik', 'uur']" [queryParams]="{ energiesoort: ['stroom'] }"><i class="fas fa-chart-bar"></i> Verbruik per uur</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'verbruik', 'dag']" [queryParams]="{ energiesoort: ['stroom'] }"><i class="fas fa-chart-bar"></i> Verbruik per dag</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'verbruik', 'maand']" [queryParams]="{ energiesoort: ['stroom'] }"><i class="fas fa-chart-bar"></i> Verbruik per maand</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'verbruik', 'jaar']" [queryParams]="{ energiesoort: ['stroom'] }"><i class="fas fa-chart-bar"></i> Verbruik per jaar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuKosten" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Energiekosten <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuKosten">
            <a class="dropdown-item" [routerLink]="['/energie', 'kosten', 'uur']" [queryParams]="{ energiesoort: ['stroom', 'gas'] }"><i class="fas fa-chart-bar"></i> Kosten per uur</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'kosten', 'dag']" [queryParams]="{ energiesoort: ['stroom', 'gas'] }"><i class="fas fa-chart-bar"></i> Kosten per dag</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'kosten', 'maand']" [queryParams]="{ energiesoort: ['stroom', 'gas'] }"><i class="fas fa-chart-bar"></i> Kosten per maand</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'kosten', 'uur']" [queryParams]="{ energiesoort: ['stroom', 'gas'] }"><i class="fas fa-chart-bar"></i> Kosten per jaar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuTemperatuur" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Klimaat <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuTemperatuur">
            <h6 class="dropdown-header"><i class="fas fa-thermometer-half"></i> Temperatuur</h6>
            <a class="dropdown-item" routerLink="/klimaat/historie/temperatuur"><i class="fas fa-chart-line"></i> Per dag</a>
            <a class="dropdown-item" routerLink="/klimaat/top-charts/temperatuur"><i class="fas fa-chart-line"></i> Laagste / hoogste</a>
            <a class="dropdown-item" routerLink="/klimaat/average/temperatuur"> x&#772; Gemiddelde</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header"><i class="fas fa-tint" aria-hidden="true"></i> Luchtvochtigheid</h6>
            <a class="dropdown-item" routerLink="/klimaat/historie/luchtvochtigheid"><i class="fas fa-chart-line"></i> Per dag</a>
            <a class="dropdown-item" routerLink="/klimaat/top-charts/luchtvochtigheid"><i class="fas fa-chart-line"></i> Laagste / hoogste</a>
            <a class="dropdown-item" routerLink="/klimaat/average/luchtvochtigheid"> x&#772; Gemiddelde</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://raspberrypi:5001">Bedien</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuBeheer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cogs"></i> Beheer <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuBeheer">
            <a class="dropdown-item" href="manage" target="_blank">Server</a>
          </div>
        </li>
        <li><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Afmelden</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="d-xs-block d-lg-none mb-2"></div>
<div class="d-none d-lg-block mb-4"></div>
