<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" *ngIf="isVisible">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard"><i class="fas fa-home"></i></a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Open/sluit menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/meterstand" (click)="collapse()">Meterstanden</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuVerbruik" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Energieverbruik <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuVerbruik">
            <a class="dropdown-item" routerLink="/energie/basisverbruik"  (click)="collapse()"><i class="fas fa-exclamation-circle"></i> Stroom - Basisverbruik</a>
            <a class="dropdown-item" routerLink="/energie/opgenomen-vermogen"  (click)="collapse()"><i class="fas fa-chart-area"></i> Stroom - opgenomen vermogen</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'verbruik', 'uur']" [queryParams]="{ energiesoort: ['stroom'] }" (click)="collapse()"><i class="fas fa-chart-bar"></i> Verbruik per uur</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'verbruik', 'dag']" [queryParams]="{ energiesoort: ['stroom'] }" (click)="collapse()"><i class="fas fa-chart-bar"></i> Verbruik per dag</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'verbruik', 'maand']" [queryParams]="{ energiesoort: ['stroom'] }" (click)="collapse()"><i class="fas fa-chart-bar"></i> Verbruik per maand</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'verbruik', 'jaar']" [queryParams]="{ energiesoort: ['stroom'] }" (click)="collapse()"><i class="fas fa-chart-bar"></i> Verbruik per jaar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuKosten" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Energiekosten <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuKosten">
            <a class="dropdown-item" [routerLink]="['/energie', 'kosten', 'uur']" [queryParams]="{ energiesoort: ['stroom', 'gas'] }" (click)="collapse()"><i class="fas fa-chart-bar"></i> Kosten per uur</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'kosten', 'dag']" [queryParams]="{ energiesoort: ['stroom', 'gas'] }" (click)="collapse()"><i class="fas fa-chart-bar"></i> Kosten per dag</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'kosten', 'maand']" [queryParams]="{ energiesoort: ['stroom', 'gas'] }" (click)="collapse()"><i class="fas fa-chart-bar"></i> Kosten per maand</a>
            <a class="dropdown-item" [routerLink]="['/energie', 'kosten', 'jaar']" [queryParams]="{ energiesoort: ['stroom', 'gas'] }" (click)="collapse()"><i class="fas fa-chart-bar"></i> Kosten per jaar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuTemperatuur" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Klimaat <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
            <a class="dropdown-item" routerLink="/klimaat/sensors" (click)="collapse()"><i class="fas fa-microchip"></i> Sensors</a>
            <a class="dropdown-item" routerLink="/klimaat/historie" (click)="collapse()"><i class="fas fa-chart-line"></i> Per dag</a>
            <a class="dropdown-item" routerLink="/klimaat/hoogste-laagste" (click)="collapse()"><i class="fas fa-table"></i> Hoogste / Laagste</a>
            <a class="dropdown-item" routerLink="/klimaat/gemiddelde" (click)="collapse()">x&#772; Gemiddelde</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://raspberrypi:5001">Bedien</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuBeheer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cogs"></i> Beheer <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuBeheer">
            <a class="dropdown-item" routerLink="/mindergasnl" (click)="collapse()"><i class="fas fa-fire"></i> MinderGas.nl</a>
            <a class="dropdown-item" routerLink="/energiecontract" (click)="collapse()"><i class="far fa-file-alt"></i> Energiecontracten</a>
            <a class="dropdown-item" href="/actuator" target="_blank"><i class="fas fa-server"></i> Server</a>
          </div>
        </li>
        <li><a class="nav-link clickable" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Afmelden</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="d-xs-block d-lg-none mb-2"></div>
<div class="d-none d-lg-block mb-4"></div>
