<div class="row">
  <div class="col-lg-1 pr-0 d-none d-lg-block">&nbsp;</div>

  <div class="col-md-12 col-lg-11 px-0 d-none d-lg-block">
    <ul class="nav nav-tabs">
      <li class="nav-item mr-1">
        <select class="form-control" name="sensor" (change)="sensorChanged()" [(ngModel)]="sensorCode">
          <option *ngFor="let _sensor of sensors" [value]="_sensor.code">{{_sensor.omschrijving}}</option>
        </select>
      </li>

      <li class="ml-auto">
        <home-date-navigator mode="day" [selectedDate]="date" (navigation)="onDateNavigate($event)" class="input-group mb-2"></home-date-navigator>
      </li>
    </ul>
  </div>
</div>

<!-- Up to (but excluding) large -->
<div class="d-xs-block d-lg-none">

  <div class="row mb-2 px-2 px-sm-0">
    <select class="form-control form-control-sm" name="sensor" (change)="sensorChanged()" [(ngModel)]="sensorCode">
      <option *ngFor="let _sensor of sensors" [value]="_sensor.code">{{_sensor.omschrijving}}</option>
    </select>
  </div>

  <!-- Energiesoort selection  -->
  <div class="row mb-2">
    <div class="col-6 pl-2 pr-1 pl-sm-0">
      <button class="btn btn-outline-secondary btn-sm btn-block" [ngClass]="{'active': sensorType === 'temperatuur'}" (click)="setSensorType('temperatuur')"><i class="fas fa-thermometer-half"></i> Temperatuur (&#8451;)</button>
    </div>
    <div class="col-6 pl-1 pr-2 pr-sm-0">
      <button class="btn btn-outline-secondary btn-sm btn-block" [ngClass]="{'active': sensorType === 'luchtvochtigheid'}" (click)="setSensorType('luchtvochtigheid')"><i class="fas fa-tint"></i> Luchtvochtigheid (%)</button>
    </div>
  </div>

  <!-- Date selection  -->
  <div class="row mb-2 px-2 px-sm-0">
    <home-date-navigator mode="day" [selectedDate]="date" (navigation)="onDateNavigate($event)"
                         [responsiveSize]="true"
                         class="input-group input-group-sm"></home-date-navigator>
  </div>
</div>

<div class="row">
  <div class="col-md-1 px-0 d-none d-lg-block">
    <ul class="nav nav-tabs-left flex-column">
      <li class="nav-item">
        <a class="nav-link mb-1 clickable text-center" [ngClass]="{'active': sensorType === 'temperatuur'}" (click)="setSensorType('temperatuur')"><i class="fas fa-thermometer-half"></i> &#8451;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mb-0 clickable text-center" [ngClass]="{'active': sensorType === 'luchtvochtigheid'}" (click)="setSensorType('luchtvochtigheid')"><i class="fas fa-tint"></i> %</a>
      </li>
    </ul>
  </div>
  <div class="col-md-12 col-lg-11 px-2 px-sm-0">
    <div [hidden]="!showChart" id="chart" class="c3 graph-chart"></div>
    <div *ngIf="showTable" class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-sm">
        <tr *ngFor="let klimaat of klimaats" class="clickable'">
          <td class="text-right">{{ getFormattedTime(klimaat) }}</td>
          <td class="text-right">{{ formatWithUnitLabel(sensorType, klimaat[sensorType]) }}</td>
          <td [style.background-color]="getColor(klimaat[sensorType])" style="width:12px;"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-1 pr-0 d-none d-lg-block">&nbsp;</div>
  <div class="col-md-12 col-lg-11 px-2 px-sm-0">
    <home-statistics [statistics]="statistics" [decimalFormat]="getDecimalFormat(sensorType)" [valuePostfix]="getValuePostFix(sensorType)" [additionalClasses]="{'activated': showChart}"></home-statistics>
  </div>
</div>
