<div class="row">
  <div class="col-6">
    <p class="h1">Meterstanden</p>
  </div>

  <div class="col-sm-6 offset-md-1 col-md-5 offset-lg-2 col-lg-4 offset-xl-3 col-xl-3 right-to-h1">
    <home-date-navigator mode="month" [selectedDate]="selectedYearMonth" (navigation)="yearMonthChanged($event)" class="input-group"></home-date-navigator>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead>
    <tr>
      <th colspan="2" width="25%">Datum</th>
      <th class="text-right" width="25%">Stroom daltarief</th>
      <th class="text-right" width="25%">Stroom normaaltarief</th>
      <th class="text-right" width="25%">Gas</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let meterstandOpDag of sortedMeterstandenPerDag">
      <td class="text-right">{{meterstandOpDag.dag | date : 'EEE.'}}</td>
      <td class="text-nowrap">{{meterstandOpDag.dag | date : 'dd-MM-yyyy'}}</td>
      <td class="text-right">{{meterstandOpDag.meterstand?.stroomTarief1 | number: '1.3-3'}}</td>
      <td class="text-right">{{meterstandOpDag.meterstand?.stroomTarief2 | number: '1.3-3'}}</td>
      <td class="text-right">{{meterstandOpDag.meterstand?.gas | number: '1.3-3'}}</td>
    </tr>
    </tbody>
  </table>
</div>

