<div ng-include="'top-menu.html'"></div>

<div>
    <h1>
        <span>Energiecontracten</span>
        <div class='pull-right'>
            <button class='btn btn-primary' ng-click="vm.startAdd()"><i class="fa fa-plus-circle"></i> Toevoegen</button>
        </div>
    </h1>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Vanaf</th>
                <th>Leverancier</th>
                <th>Stroom per kWh</th>
                <th>Gas per m<sup>2</sup></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="kostenItem in vm.kosten | orderBy:'van'" ng-click="vm.startEdit(kostenItem)" ng-class="{info: kostenItem.id == vm.selectedId}">
                <td>{{kostenItem.van | date : 'dd-MM-yyyy'}}</td>
                <td>{{kostenItem.leverancier}}</td>
                <td>{{kostenItem.stroomPerKwh | currency:undefined : 4}}</td>
                <td>{{kostenItem.gasPerKuub | currency:undefined : 4}}</td>
            </tr>
        </tbody>
    </table>
</div>

<form name="editform" class="form-horizontal fade" ng-show="vm.showDetails" autocomplete="off" novalidate>
    <hr/>

    <div class="form-group has-feedback required" ng-class="{'has-error' : !editform.vanaf.$valid}">
        <label for="vanaf" class="col-sm-3 control-label">Vanaf</label>
        <div class="col-sm-6">
            <div class="input-group">
                <input id="vanaf" name="vanaf" placeholder="dd-mm-jjjj" class="form-control" ng-readonly="true" ng-click="vm.toggleDatepickerPopup()" uib-datepicker-popup="{{vm.dateformat}}" ng-model="vm.vanaf" datepicker-popup-template-url="/app/uib-datepicker-popup-without-clear-button.html" is-open="vm.datepickerPopup.opened" datepicker-options="vm.datepickerPopupOptions" />
                <span class="input-group-addon" ng-click="vm.toggleDatepickerPopup()"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>

    <div class="form-group has-feedback required" ng-class="{'has-error' : !editform.leverancier.$valid}">
        <label for="leverancier" class="col-sm-3 control-label">Leverancier</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="leverancier" name="leverancier" placeholder="Leverancier" ng-maxlength="255" ng-model="vm.item.leverancier" required>
        </div>
    </div>

    <div class="form-group has-feedback required" ng-class="{'has-error' : !editform.stroom.$valid}">
        <label for="stroom" class="col-sm-3 control-label">Stroom per kWh</label>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">&euro; </span>
                <input type="text" energieprijs class="form-control" id="stroom" name="stroom" placeholder="0,0000" ng-pattern="/^[0-9]{1}\,[0-9]{4}?$/" required ng-model="vm.item.stroomPerKwh">
            </div>
        </div>
    </div>

    <div class="form-group has-feedback required" ng-class="{'has-error' : !editform.gas.$valid}">
        <label for="gas" class="col-sm-3 control-label">Gas per Gas per m<sup>2</sup></label>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">&euro; </span>
                <input type="text" energieprijs class="form-control" id="gas" name="gas" placeholder="0,0000" ng-pattern="/^[0-9]{1}\,[0-9]{4}?$/" required ng-model="vm.item.gasPerKuub">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            &nbsp;
        </div>
        <div class="col-sm-6">
            <button type="button" ng-show="vm.detailsmode=='edit'" class='btn btn-primary' data-toggle="modal" data-target="#confirmDelete"><i class="fa fa-trash"></i></i> Verwijderen</button>
            <div class="pull-right">
                <button type="button" class='btn btn-primary' ng-click="vm.save()" ng-disabled="!editform.leverancier.$valid || !editform.vanaf.$valid || !editform.stroom.$valid || !editform.gas.$valid"><i class="fa fa-check"></i> Opslaan</button>
                <button type="button" class='btn btn-primary' ng-click="vm.cancelEdit()"><i class="fa fa-ban"></i> Annuleren</button>
            </div>
        </div>
    </div>
</form>

<div id="confirmDelete" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title"><i class="fa fa-question-circle"></i> Bevestigen a.u.b.</h4>
            </div>
            <div class="modal-body">
                <p>Weet u zeker dat u de geselecteerde rij wilt verwijderen?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-danger" ng-click="vm.delete()" data-dismiss="modal">Verwijderen</button>
            </div>
        </div>
    </div>
</div>
