<div class="row">
  <div class="col-md-1 pr-0">&nbsp;</div>
  <div class="col-md-11 pl-0 pr-0">
    <ul class="nav nav-tabs">
      <li class="nav-item mr-1">
        <a class="nav-link" [ngClass]="{'active': periode == 'uur'}" [routerLink]="['/energie', verbruiksoort, 'uur']" queryParamsHandling="preserve" skipLocationChange="true">Uur</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" [ngClass]="{'active': periode == 'dag'}" [routerLink]="['/energie', verbruiksoort, 'dag']" queryParamsHandling="preserve" skipLocationChange="true">Dag</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" [ngClass]="{'active': periode == 'maand'}" [routerLink]="['/energie', verbruiksoort, 'maand']" queryParamsHandling="preserve" skipLocationChange="true">Maand</a>
      </li>
      <li class="nav-item mr-0">
        <a class="nav-link" [ngClass]="{'active': periode == 'jaar'}" [routerLink]="['/energie', verbruiksoort, 'jaar']" queryParamsHandling="preserve" skipLocationChange="true">Jaar</a>
      </li>

      <li class="ml-auto mr-auto">
        <div class="btn-group btn-group-toggle">
          <label class="btn btn-outline-secondary" [ngClass]="{'active' : energiesoorten.indexOf('stroom') >= 0}">
            <input type="checkbox" [checked]="energiesoorten.indexOf('stroom') >= 0" (click)="toggleEnergiesoort('stroom')"><i class="fa fa-bolt"></i> Stroom
          </label>
          <label class="btn btn-outline-secondary" [ngClass]="{'active' : energiesoorten.indexOf('gas') >= 0}">
            <input type="checkbox" [checked]="energiesoorten.indexOf('gas') >= 0" (change)="toggleEnergiesoort('gas')">&nbsp;&nbsp; <i class="fa fa-fire"></i> Gas&nbsp;&nbsp;&nbsp;
          </label>
        </div>
      </li>
      <li class="ml-1">
        <form>
          <div class="input-group">
            <span class="input-group-prepend">
              <button (click)="navigate(-1)" class="btn btn-outline-secondary" type="button"><i class="fa fa-chevron-left"></i></button>
            </span>
            <input class="form-control text-center text-capitalize" name="dayPicker" type="text"
                   [readonly]="true" [(ngModel)]="dayPickerModel" [dpDayPicker]="dayPickerConfiguration"
                   theme="dp-material" mode="day" (onChange)="dayPickerChanged($event)"/>
            <span class="input-group-append">
              <button (click)="navigate(+1)" [disabled]="isMaxSelected()" type="button" class="btn btn-outline-secondary"><i class="fa fa-chevron-right"></i></button>
            </span>
          </div>
        </form>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-1 pl-0 pr-0">
    <ul class="nav nav-tabs-left flex-column">
      <li class="nav-item">
        <a class="nav-link mb-1" [ngClass]="{'active': verbruiksoort == 'verbruik'}" [routerLink]="['/energie', 'verbruik', periode]" queryParamsHandling="preserve" skipLocationChange="true">Verbruik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mb-0" [ngClass]="{'active': verbruiksoort == 'kosten'}" [routerLink]="['/energie', 'kosten', periode]" queryParamsHandling="preserve" skipLocationChange="true"> Kosten</a>
      </li>
    </ul>
  </div>

  <div class="col-md-11 pl-0 pr-0">
    <div id="chart" class="c3 chart"></div>
  </div>
</div>
