<div class="row">
  <div class="col-lg-1 pr-0 d-none d-lg-block">&nbsp;</div>

  <div class="col-md-12 col-lg-11 px-0 d-none d-lg-block">
    <ul class="nav nav-tabs">
      <li class="nav-item mr-1">
        <a class="nav-link clickable" [ngClass]="{'active': periode == 'uur'}" (click)="setPeriode('uur')">Uur</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link clickable" [ngClass]="{'active': periode == 'dag'}" (click)="setPeriode('dag')">Dag</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link clickable" [ngClass]="{'active': periode == 'maand'}" (click)="setPeriode('maand')">Maand</a>
      </li>
      <li class="nav-item mr-0">
        <a class="nav-link clickable" [ngClass]="{'active': periode == 'jaar'}" (click)="setPeriode('jaar')">Jaar</a>
      </li>

      <li class="ml-auto mr-auto">
        <div class="btn-group btn-group-toggle">
          <label class="btn btn-outline-secondary" [ngClass]="{'active': isEnergieSoortSelected('stroom')}">
            <input type="checkbox" [checked]="isEnergieSoortSelected('stroom')" (click)="toggleEnergiesoort('stroom')"><i class="fas fa-bolt"></i> Stroom
          </label>
          <label class="btn btn-outline-secondary" [ngClass]="{'active': isEnergieSoortSelected('gas')}">
            <input type="checkbox" [checked]="isEnergieSoortSelected('gas')" (change)="toggleEnergiesoort('gas')">&nbsp;&nbsp; <i class="fas fa-fire"></i> Gas&nbsp;&nbsp;&nbsp;
          </label>
        </div>
      </li>
      <li>
        <home-date-navigator *ngIf="dateNavigatorMode != 'off'" [mode]="dateNavigatorMode" [selectedDate]="selectedDate"
                             (navigation)="onDateNavigate($event)" class="input-group"></home-date-navigator>
      </li>
    </ul>
  </div>
</div>

<!-- Up to (but excluding) large -->
<div class="d-xs-block d-lg-none">

  <!-- Kostensoort selection -->
  <div class="row mb-2">
    <div class="col-6 pl-2 pr-1 pl-sm-0">
      <button class="btn btn-outline-secondary btn-sm btn-block" [ngClass]="{'active': verbruiksoort == 'verbruik'}" (click)="setVerbruikSoort('verbruik')">Verbruik</button>
    </div>
    <div class="col-6 pl-1 pr-2 pr-sm-0">
      <button class="btn btn-outline-secondary btn-sm btn-block" [ngClass]="{'active': verbruiksoort == 'kosten'}" (click)="setVerbruikSoort('kosten')"> Kosten</button>
    </div>
  </div>

  <!-- Energiesoort selection  -->
  <div class="row mb-2">
    <div class="col-6 pl-2 pr-1 pl-sm-0">
      <button class="btn btn-outline-secondary btn-sm btn-block" [ngClass]="{'active': isEnergieSoortSelected('stroom')}" (click)="toggleEnergiesoort('stroom')"><i class="fas fa-bolt"></i> Stroom</button>
    </div>
    <div class="col-6 pl-1 pr-2 pr-sm-0">
      <button class="btn btn-outline-secondary btn-sm btn-block" [ngClass]="{'active': isEnergieSoortSelected('gas')}" (click)="toggleEnergiesoort('gas')"><i class="fas fa-fire"></i> Gas</button>
    </div>
  </div>

  <!-- Period selection  -->
  <div class="row mb-2">
    <div class="col-3 pl-2 pr-1 pl-sm-0">
      <button class="btn btn-outline-secondary btn-sm btn-block" [ngClass]="{'active': periode === 'uur'}" (click)="setPeriode('uur')">Uur</button>
    </div>
    <div class="col-3 px-1">
      <button class="btn btn-outline-secondary btn-sm btn-block" [ngClass]="{'active': periode === 'dag'}" (click)="setPeriode('dag')">Dag</button>
    </div>
    <div class="col-3 px-1">
      <button class="btn btn-outline-secondary btn-sm btn-block" [ngClass]="{'active': periode === 'maand'}" (click)="setPeriode('maand')">Maand</button>
    </div>
    <div class="col-3 pl-1 pr-2 pr-sm-0">
      <button class="btn btn-outline-secondary btn-sm btn-block" [ngClass]="{'active': periode === 'jaar'}" (click)="setPeriode('jaar')">Jaar</button>
    </div>
  </div>

  <!-- Date selection  -->
  <div class="row mb-2 px-2 px-sm-0">
    <home-date-navigator *ngIf="dateNavigatorMode != 'off'" [mode]="dateNavigatorMode" [selectedDate]="selectedDate"
                         [responsiveSize]="true" (navigation)="onDateNavigate($event)"
                         class="input-group input-group-sm"></home-date-navigator>
  </div>
</div>

<div class="row">
  <div class="col-md-1 px-0 d-none d-lg-block">
    <ul class="nav nav-tabs-left flex-column">
      <li class="nav-item">
        <a class="nav-link mb-1 clickable" [ngClass]="{'active': verbruiksoort === 'verbruik'}" (click)="setVerbruikSoort('verbruik')">Verbruik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mb-0 clickable" [ngClass]="{'active': verbruiksoort === 'kosten'}" (click)="setVerbruikSoort('kosten')">Kosten</a>
      </li>
    </ul>
  </div>

  <div class="col-md-12 col-lg-11 px-2 px-sm-0">
    <div [hidden]="!showChart" id="chart" class="c3 graph-chart"></div>
    <div [hidden]="!showTable" class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
          <tr>
            <th></th>
            <th class="text-right" *ngIf="isEnergieSoortSelected('gas')">Gas</th>
            <th class="text-right" *ngIf="isEnergieSoortSelected('stroom')">Stroom</th>
            <th class="text-right" *ngIf="isEnergieSoortSelected('stroom') && isEnergieSoortSelected('gas') && verbruiksoort == 'kosten'">Totaal</th>
          </tr>
        </thead>
        <tr *ngFor="let verbruik of verbruiken" class="clickable" (click)="navigateToDetailsOfVerbruik(verbruik)">
          <td class="text-right">{{ getFormattedDate(verbruik) }}</td>
          <td class="text-right" *ngIf="isEnergieSoortSelected('gas')">{{ getFormattedValue(verbruik, 'gas') }}</td>
          <td class="text-right" *ngIf="isEnergieSoortSelected('stroom')">{{ getFormattedValue(verbruik, 'stroom') }}</td>
          <td class="text-right" *ngIf="isEnergieSoortSelected('stroom') && isEnergieSoortSelected('gas') && verbruiksoort == 'kosten'">{{ getFormattedTotalCosts(verbruik) }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
