<div ng-include="'top-menu.html'"></div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <p class="h1">Gemiddelde {{sensortype}}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-3">
        <label for="period-from">Van:</label>
        <p class="input-group">
            <input id="period-from" class="form-control" ng-readonly="true" ng-click="toggleDatepickerPopupFrom()" uib-datepicker-popup="{{dateformat}}" ng-model="from" datepicker-popup-template-url="/app/uib-datepicker-popup-without-clear-button.html" is-open="datepickerPopupFrom.opened" datepicker-options="datepickerPopupFromOptions" ng-change="fromChange()" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="toggleDatepickerPopupFrom()"><i class="fa fa-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="col-md-3">
        <label for="period-to">Tot en met:</label>
        <p class="input-group">
            <input id="period-to" class="form-control" ng-readonly="true" ng-click="toggleDatepickerPopupTo()" uib-datepicker-popup="{{dateformat}}" ng-model="to" datepicker-popup-template-url="/app/uib-datepicker-popup-without-clear-button.html" is-open="datepickerPopupTo.opened" datepicker-options="datepickerPopupToOptions" ng-change="toChange()" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="toggleDatepickerPopupTo()"><i class="fa fa-calendar"></i></button>
            </span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title h1">x&#772; Gemiddelde</p>
            </div>
            <div class="panel-body" ng-cloak>
                {{gemiddelde | number : 2}}
            </div>
        </div>
    </div>
</div>