<div ng-include="'top-menu.html'"></div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <p class="h1">Gemiddelde {{sensortype}}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-2">
        <label for="selection">Jaar:</label>
        <p class="input-group">
            <input id="selection" class="form-control" ng-readonly="true" ng-click="toggleDatepickerPopup()" uib-datepicker-popup="{{dateformat}}" ng-model="selection" datepicker-popup-template-url="/app/uib-datepicker-popup-without-clear-button.html" is-open="datepickerPopup.opened" datepicker-options="datepickerPopupOptions" ng-change="datepickerChange()" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="toggleDatepickerPopup()"><i class="fa fa-calendar"></i></button>
            </span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-4">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th class="text-right">Maand</th>
                <th class="text-right text-capitalize">Gemiddelde {{sensortype}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="avg in averagePerMonthInYear">
                <td class="text-right">{{avg.date | date : 'MMMM'}}</td>
                <td class="text-right">{{avg.average | number : 2}}{{avg.average ? unitlabel : ''}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>