<div ng-include="'top-menu.html'"></div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <p class="h1">Gemiddelde {{vm.sensortype}}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-6">
        <label for="selection">Jaren:</label>
        <p class="input-group">
            <input id="selection" class="form-control" ng-value="vm.getFormattedSelectedYears()" ng-readonly="true" ng-click="vm.openMultipleYearsSelectionDialog()" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openMultipleYearsSelectionDialog()"><i class="fa fa-calendar"></i></button>
            </span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-6">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th class="text-right">Maand</th>
                <th ng-repeat="year in vm.averagePerMonthInYear" class="text-right">{{year[0].maand | date : 'yyyy'}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]">
                <td class="text-right">{{vm.getMonthName(i)}}</td>
                <td ng-repeat="year in vm.averagePerMonthInYear" class="text-right">{{year[i].gemiddelde | number : 2}}{{year[i].gemiddelde ? unitlabel : ''}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>