<div ng-include="'top-menu.html'"></div>

<div class="row">
    <div class="col-md-1 without-lr-padding">
        &nbsp;
    </div>
    <div class="col-md-11 without-lr-padding">
        <ul class="nav nav-tabs">

            <!-- Soort selection for SMALL screens -->
            <div class="btn-group-sm btn-group-justified hidden-sm hidden-md hidden-lg" style="margin-bottom: 10px;" role="group">
                <a ng-repeat="supportedsoort in supportedsoorten" ng-href="/#/energie/{{supportedsoort.code}}/grafiek/{{period}}" ng-class="{'active': soort == supportedsoort.code}" class="btn btn-default">{{supportedsoort.omschrijving}}</a>
            </div>

            <!-- Energiesoort selection for SMALL screens -->
            <div class="btn-group-sm btn-group-justified hidden-sm hidden-md hidden-lg" style="margin-bottom: 10px;" role="group">
                <a ng-hide="hideEnergieSoorten()" ng-click="toggleEnergiesoort('stroom')" class="btn btn-default" ng-class="{'active': energiesoorten.indexOf('stroom') >= 0}" role="button" active=""><i class="fa fa-bolt"></i> Stroom</a>
                <a ng-hide="hideEnergieSoorten()" ng-click="toggleEnergiesoort('gas')" class="btn btn-default" ng-class="{'active': energiesoorten.indexOf('gas') >= 0}" role="button"><i class="fa fa-fire"></i> Gas</a>
            </div>

            <!-- Period selection for SMALL screens -->
            <div class="btn-group-sm btn-group-justified hidden-sm hidden-md hidden-lg" style="margin-bottom: 10px;" role="group">
                <a ng-hide="hideUur()" ng-href="/#/energie/{{soort}}/grafiek/uur" class="btn btn-default" ng-class="{'active': period=='uur'}" role="button" active="">Uur</a>
                <a ng-hide="hideDag()" ng-href="/#/energie/{{soort}}/grafiek/dag" class="btn btn-default" ng-class="{'active': period=='dag'}" role="button">Dag</a>
                <a ng-hide="hideMaand()" ng-href="/#/energie/{{soort}}/grafiek/maand" class="btn btn-default" ng-class="{'active': period=='maand'}" role="button">Maand</a>
            </div>

            <!-- Period selection for MEDIUM/BIG screens -->
            <li ng-show="showOpgenomenVermogen()" class="hidden-xs active"><a ng-href="/#/grafiek/{{energiesoort}}/opgenomen-vermogen">Uur</a></li>
            <li ng-hide="hideUur()" class="hidden-xs" ng-class="{'active': period=='uur'}"><a ng-href="/#/energie/{{soort}}/grafiek/uur">Uur</a></li>
            <li ng-hide="hideDag()" class="hidden-xs" ng-class="{'active': period=='dag'}"><a ng-href="/#/energie/{{soort}}/grafiek/dag">Dag</a></li>
            <li ng-hide="hideMaand()" class="hidden-xs" ng-class="{'active': period=='maand'}"><a ng-href="/#/energie/{{soort}}/grafiek/maand">Maand</a></li>

            <!-- Energiesoort selection for MEDIUM/BIG screens -->
            <li>
                <div ng-hide="hideEnergieSoorten()" class="hidden-xs" style="margin-left: 70px; margin-top: 10px;">
                    <div ng-hide="allowMultpleEnergiesoorten()">
                        <label class="radio-inline"><input type="radio" ng-checked="energiesoorten.indexOf('stroom') >= 0" ng-click="toggleEnergiesoort('stroom')"><i class="fa fa-bolt"></i> Stroom</label>
                        <label class="radio-inline"><input type="radio" ng-checked="energiesoorten.indexOf('gas') >= 0" ng-click="toggleEnergiesoort('gas')"><i class="fa fa-fire"></i> Gas</label>
                    </div>
                    <div ng-show="allowMultpleEnergiesoorten()">
                        <label class="checkbox-inline"><input type="checkbox" ng-checked="energiesoorten.indexOf('stroom') >= 0" ng-click="toggleEnergiesoort('stroom')"><i class="fa fa-bolt"></i> Stroom</label>
                        <label class="checkbox-inline"><input type="checkbox" ng-checked="energiesoorten.indexOf('gas') >= 0" ng-click="toggleEnergiesoort('gas')"><i class="fa fa-fire"></i> Gas</label>
                    </div>
                </div>
            </li>

            <!-- Period selection for MEDIUM/BIG screens -->
            <li class="pull-right hidden-xs">
                <form class="form-inline without-margin-padding">
                    <div class="form-group">
                        <div class="input-group date-selector">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="navigate(-1)">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                            </span>
                            <input class="form-control text-center text-capitalize" ng-readonly="true" ng-click="toggleDatepickerPopup()" uib-datepicker-popup="{{dateformat}}" ng-model="selection" datepicker-popup-template-url="/app/uib-datepicker-popup-without-clear-button.html" is-open="datepickerPopup.opened" datepicker-options="datepickerPopupOptions" ng-change="selectionChange()" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="isMaxSelected()" ng-class="{'disabled': isMaxSelected()}" ng-click="navigate(+1)">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </li>

            <!-- Period selection for SMALL screens -->
            <li class="pull-right hidden-sm hidden-md hidden-lg">
                <form class="form-inline without-margin-padding">
                    <div class="form-group">
                        <div class="input-group date-selector">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="button" ng-click="navigate(-1)">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                            </span>
                            <input class="form-control text-center text-capitalize input-sm" ng-readonly="true" ng-click="toggleDatepickerPopup()" uib-datepicker-popup="{{dateformat}}" ng-model="selection" datepicker-popup-template-url="/app/uib-datepicker-popup-without-clear-button.html" is-open="datepickerPopup.opened" datepicker-options="datepickerPopupOptions" ng-change="selectionChange()" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-sm" ng-disabled="isMaxSelected()" ng-class="{'disabled': isMaxSelected()}" ng-click="navigate(+1)">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>

<div class="row">

    <!-- Energiesoort selection for MEDIUM/BIG screens -->
    <div class="hidden-xs col-md-1 without-lr-padding">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="supportedsoort in supportedsoorten" ng-class="{'active': soort == supportedsoort.code}">
                <a ng-href="/#/energie/{{supportedsoort.code}}/grafiek/{{period}}" class="left-pill">{{supportedsoort.omschrijving}}</a>
            </li>
        </ul>
    </div>

    <!-- Chart -->
    <div class="hidden-xs col-md-11 without-lr-padding">
        <div id="chart" class="c3 chart"></div>
    </div>

    <!-- Table -->
    <div class="hidden-sm hidden-md hidden-lg table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th ng-repeat="column in cols">{{column}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rows">
                    <td ng-repeat="column in cols">{{row[column]}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>