<div ng-include="'top-menu.html'"></div>

<div class="row">
    <div class="hidden-xs hidden-sm col-md-1">&nbsp;</div>
    <div class="col-md-11">
        <ul class="nav nav-tabs">

            <!-- Kostensoort selection for SMALL screens -->
            <div class="btn-group-sm btn-group-justified hidden-sm hidden-md hidden-lg" style="margin-bottom: 10px;" role="group">
                <a ng-repeat="supportedsoort in supportedsoorten" ng-href="/#!/energie/{{supportedsoort.code}}/{{period}}" ng-class="{'active': soort == supportedsoort.code}" class="btn btn-default">{{supportedsoort.omschrijving}}</a>
            </div>

            <!-- Energiesoort selection for SMALL screens -->
            <div ng-hide="hideEnergieSoorten" class="btn-group-sm btn-group-justified hidden-sm hidden-md hidden-lg" style="margin-bottom: 10px;" role="group">
                <a ng-click="toggleEnergiesoort('stroom')" class="btn btn-default" ng-class="{'active': energiesoorten.indexOf('stroom') >= 0}" role="button" active=""><i class="fa fa-bolt"></i> Stroom</a>
                <a ng-click="toggleEnergiesoort('gas')" class="btn btn-default" ng-class="{'active': energiesoorten.indexOf('gas') >= 0}" role="button"><i class="fa fa-fire"></i> Gas</a>
            </div>

            <!-- Period selection for SMALL screens -->
            <div ng-hide="hideUur && hideDag && hideMaand && hideJaar" class="btn-group-sm btn-group-justified hidden-sm hidden-md hidden-lg" style="margin-bottom: 10px;" role="group">
                <a ng-hide="hideUur" href="" ng-click="changePeriod('uur')" class="btn btn-default" ng-class="{'active': period=='uur'}" role="button" active="">Uur</a>
                <a ng-hide="hideDag" href="" ng-click="changePeriod('dag')" class="btn btn-default" ng-class="{'active': period=='dag'}" role="button">Dag</a>
                <a ng-hide="hideMaand" href="" ng-click="changePeriod('maand')" class="btn btn-default" ng-class="{'active': period=='maand'}" role="button">Maand</a>
                <a ng-hide="hideJaar" href="" ng-click="changePeriod('jaar')" class="btn btn-default" ng-class="{'active': period=='jaar'}" role="button">Jaar</a>
            </div>

            <!-- Period selection for MEDIUM/BIG screens -->
            <li ng-show="showOpgenomenVermogen" class="hidden-xs active"><a ng-href="/#!/energie/{{energiesoort}}/opgenomen-vermogen">Uur</a></li>
            <li ng-hide="hideUur" class="hidden-xs" ng-class="{'active': period=='uur'}"><a href="" ng-click="changePeriod('uur')">Uur</a></li>
            <li ng-hide="hideDag" class="hidden-xs" ng-class="{'active': period=='dag'}"><a href="" ng-click="changePeriod('dag')">Dag</a></li>
            <li ng-hide="hideMaand" class="hidden-xs" ng-class="{'active': period=='maand'}"><a href="" ng-click="changePeriod('maand')">Maand</a></li>
            <li ng-hide="hideJaar" class="hidden-xs" ng-class="{'active': period=='jaar'}"><a href="" ng-click="changePeriod('jaar')">Jaar</a></li>

            <!-- Energiesoort selection for MEDIUM/BIG screens -->
            <li>
                <div ng-hide="hideEnergieSoorten" class="hidden-xs" style="margin-left: 70px; margin-top: 10px;">
                    <div ng-hide="allowMultpleEnergiesoorten()">
                        <label class="radio-inline"><input type="radio" ng-checked="energiesoorten.indexOf('stroom') >= 0" ng-click="toggleEnergiesoort('stroom')"><i class="fa fa-bolt"></i> Stroom</label>
                        <label class="radio-inline"><input type="radio" ng-checked="energiesoorten.indexOf('gas') >= 0" ng-click="toggleEnergiesoort('gas')"><i class="fa fa-fire"></i> Gas</label>
                    </div>
                    <div ng-show="allowMultpleEnergiesoorten()">
                        <label class="checkbox-inline"><input type="checkbox" ng-checked="energiesoorten.indexOf('stroom') >= 0" ng-click="toggleEnergiesoort('stroom')"><i class="fa fa-bolt"></i> Stroom</label>
                        <label class="checkbox-inline"><input type="checkbox" ng-checked="energiesoorten.indexOf('gas') >= 0" ng-click="toggleEnergiesoort('gas')"><i class="fa fa-fire"></i> Gas</label>
                    </div>
                </div>
            </li>

            <!-- Period selection for MEDIUM/BIG screens -->
            <li ng-hide="hideDateSelection" class="pull-right hidden-xs">
                <form class="form-inline without-margin-padding">
                    <div class="form-group">
                        <div class="input-group date-selector">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="navigate(-1)">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                            </span>
                            <input class="form-control text-center text-capitalize" ng-readonly="true" ng-click="toggleDatepickerPopup()" uib-datepicker-popup="{{dateformat}}" ng-model="selection" datepicker-popup-template-url="/app/uib-datepicker-popup-without-clear-button.html" is-open="datepickerPopup.opened" datepicker-options="datepickerPopupOptions" ng-change="selectionChange()" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="isMaxSelected()" ng-class="{'disabled': isMaxSelected()}" ng-click="navigate(+1)">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </li>

            <!-- Period selection for SMALL screens -->
            <li ng-hide="hideDateSelection" class="pull-right hidden-sm hidden-md hidden-lg">
                <form class="form-inline without-margin-padding">
                    <div class="form-group">
                        <div class="input-group date-selector">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="button" ng-click="navigate(-1)">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                            </span>
                            <input class="form-control text-center text-capitalize input-sm" ng-readonly="true" ng-click="toggleDatepickerPopup()" uib-datepicker-popup="{{dateformat}}" ng-model="selection" datepicker-popup-template-url="/app/uib-datepicker-popup-without-clear-button.html" is-open="datepickerPopup.opened" datepicker-options="datepickerPopupOptions" ng-change="selectionChange()" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-sm" ng-disabled="isMaxSelected()" ng-class="{'disabled': isMaxSelected()}" ng-click="navigate(+1)">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <!-- Energiesoort selection for SMALL -->
    <div class="visible-sm col-sm-12">
        <ul class="nav nav-pills nav-justified">
            <li ng-repeat="supportedsoort in supportedsoorten" ng-class="{'active': soort == supportedsoort.code}">
                <a class="pill" ng-href="/#!/energie/{{supportedsoort.code}}/{{period}}">{{supportedsoort.omschrijving}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">

    <!-- Kostensoort selection for MEDIUM/LARGE -->
    <div class="hidden-xs visible-md visible-lg col-md-1">
        <ul class="nav nav-pills nav-stacked" style="margin-right:-30px;">
            <li ng-repeat="supportedsoort in supportedsoorten" ng-class="{'active': soort == supportedsoort.code}">
                <a class="left-pill" ng-href="/#!/energie/{{supportedsoort.code}}/{{period}}">{{supportedsoort.omschrijving}}</a>
            </li>
        </ul>
    </div>

    <!-- Chart -->
    <div ng-show="showChart" class="col-xs-12 col-md-11">
        <div id="chart" class="c3 chart"></div>
    </div>

    <!-- Table -->
    <div ng-show="showTable" class="col-xs-12 col-md-11">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th class="text-right" ng-repeat="column in cols">{{column}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in rows">
                    <td class="text-right" ng-repeat="column in cols">{{row[column]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>